# vs code settings
.vscode*

# binary files
OBJ*
nonlinRod*

# result files
*.vtu
*.png
*.log
*.res
*.pvsm
*.csv
*.dat
*.pdf
*.avi

# save the resulting data files for testing
!tests/beam/test1.dat
!tests/beam/test2.dat
