# vs code settings
.vscode*

# binary files
OBJ*
nonlinRod*

# results
*.log
*.info
*.dat
*.csv
*.msh22
*.pvsm
*.tar

studies/**/output/*
studies/**/results/*

tests/element/runs/
tests/element/*.txt
tests/beam/test*/

# save the reference data files for beam testing
!tests/beam/ref_data/*.csv

# save the folder structure
!.gitkeep