# vs code settings
.vscode*

# binary files
OBJ*
nonlinRod*

# scribbling script
scripts/scribbling.py

# results
*.log
*.info
*.dat
*.csv
*.msh22
*.vtu
*.pvd
*.pvsm
*.tar

studies/**/output/*
studies/**/results/*

tests/element/runs/
tests/element/*.txt
tests/beam/test*/
tests/transient/test*/

# save the reference data files for beam testing
!tests/beam/ref_data/*.csv

# save the folder structure
!.gitkeep