name: Build Docs
on:
  push: 
    paths:
      - src/**
      - doc/**
      - tests/*.md
      - .github/workflows/build-docs.yml

jobs:
  documentation:
    runs-on: ubuntu-latest
    name: Doxygen Documentation
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          lfs: true
      - name: Apptainer
        uses: eWaterCycle/setup-apptainer@v2
        with:
          apptainer-version: 1.4.2
      - name: Build documentation
        run: apptainer exec jive.sif make docs
      - name: Upload documentation
        uses: actions/upload-artifact@v4
        with:
          name: documentation
          path: doc/html

  gh-pages:
    runs-on: ubuntu-latest
    needs: documentation
    steps:
      - name: Download documentation
        uses: actions/download-artifact@v5
        with:
          name: documentation
          path: doc/html
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: doc/html