name: Build Docs
on:
  push: 
    paths:
      - src/**
      - doc/**
      - tests/*.md
      - .github/workflows/build-docs.yml

jobs:
  documentation:
    runs-on: ubuntu-latest
    name: Doxygen Documentation
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          lfs: true
      - name: Apptainer
        uses: eWaterCycle/setup-apptainer@v2
        with:
          apptainer-version: 1.4.2
      - name: Build documentation
        run: apptainer exec jive.sif make docs
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: documentation
          path: |
            doc/html
            doc/Documentation.html
            